.card-container{
    width: 100%;
    display: inline-block;
    padding: 0px 25px 50px;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
}
.card-image{
		height: 350px;
		display: flex;
		position: relative;
    img{
			  display: block;
        max-height: 100%;
        width: 100%;
			  margin: auto 0px;
    }
}
.sticker{
	display: block;
	position: absolute;
	top: 25%;
	height: auto;
	width: 100%;
}
.card-timer{
    position: absolute;
    padding: 10px;
		background-color: rgba(255, 255, 255, 0.602);
    font-size: 14px;
}

.card-title{
    font-size: 14px;
    text-transform: uppercase;
    color: #080808;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 10px;
		text-overflow: ellipsis;
    p{
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
}
.card-price{
    font-size: 14px;
    color: #999999;
}
@media screen and (min-width: 680px) {
    .card-container{
        width: 50%;
    }
}
@media screen and (min-width: 768px) {
    .card-container{
        width: 33.333%;
    }
}
@media screen and (min-width: 1024px) {
    .card-container{
        width: 25%;
    }
}
