.single-container {
  width: 100%;
  height: auto;
  font-family: 'Catamaran', sans-serif;

  img {
    width: 100%;
    max-height: 100%;
  }
}

.title-product {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.price-product {
  font-size: 24px;
  color: #080808;
  font-weight: 300;
  margin-bottom: 25px;
}

.description-product {
  color: #929292;
}

.add-cart {
  color: white;
  font-size: 12px;
  font-weight: 600;
  background-color: #080808;
  border: 0px;
  width: 100%;
  padding: 20px 46px;
  margin-top: 20px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1024px) {
  .single-container img {
    width: 50%;
    display: inline-block;
  }

  .specifications {
    width: 50%;
    display: inline-block;
    position: absolute;
  }

  .single-container {
    margin-top: 40px;
  }
}
